.body{
  background-image: url('../img/landing.jpg');
  padding: 10%;
  background-attachment: fixed;
  color: #88CDDE;
  background-repeat: no-repeat;
  font-family: "bauer";
}
.index{
  color: #88CDDE;
}
